<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'dependencies.html' %}
    <script src="static/js/clan.js"></script>
    <title>{{ 'Clan ' + user['name'] }}</title>
</head>

<body>
{% include 'navbar.html' %}
<div class="container text-center mt-4">
    {% if msg %}
        <div class="alert alert-{{ msg['type'] }}">
            {{ msg['text'] }}
        </div>
    {% endif %}
    <div class="card col-12 mb-2">
        <h5 class="card-header text-center">Manage timers</h5>
        <div class="card-body">
            <div class="accordion" id="timersCard">
                <div class="accordion-item" id="accordionTimerAdd">
                    <h2 class="accordion-header" id="headingTimerAdd">
                        <button id="buttonTimerAdd" class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTimerAdd" aria-expanded="false"
                                aria-controls="collapseTimerAdd">Add timer
                        </button>
                    </h2>
                    <div id="collapseTimerAdd" class="accordion-collapse collapse" aria-labelledby="headingTimerAdd"
                         data-bs-parent="#timersCard">
                        <div class="accordion-body row mx-auto table-responsive">
                            <form method="POST" action="/timer-add" class="row g-3 needs-validation" novalidate=""
                                  data-bitwarden-watching="1">
                                <div class="col-md-6">
                                    <label for="bossname" class="form-label">Bossname</label>
                                    <input type="text" class="form-control" id="bossname" name="bossname" required
                                           autofocus>
                                    <div class="invalid-feedback">
                                        Please provide a valid unique bossname.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="type" class="form-label">Type</label>
                                    <input type="text" class="form-control" id="type" name="type" required autofocus>
                                    <div class="invalid-feedback">
                                        Please provide a valid type.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="respawn" class="form-label">Respawn minutes</label>
                                    <input type="number" class="form-control" id="respawn" name="respawn" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid respawn in minutes.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="window" class="form-label">Window minutes</label>
                                    <input type="number" class="form-control" id="window" name="window" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid window in minutes.
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button id="timerAddButton" class="btn btn-lg btn-success" type="submit">Add timer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="accordionTimerDelete">
                    <h2 class="accordion-header" id="headingTimerDelete">
                        <button id="buttonTimerDelete" class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTimerDelete" aria-expanded="false"
                                aria-controls="collapseTimerAdd">Delete timer
                        </button>
                    </h2>
                    <div id="collapseTimerDelete" class="accordion-collapse collapse" aria-labelledby="headingTimerDelete"
                         data-bs-parent="#timersCard">
                        <div class="accordion-body row mx-auto table-responsive">
                            <form method="POST" action="/timer-delete" class="row g-3 needs-validation" novalidate=""
                                  data-bitwarden-watching="1">
                                <div class="col-md-12">
                                    <label for="bossnameDel" class="form-label">Bossname</label>
                                    <input type="text" class="form-control" id="bossnameDel" name="bossname" required
                                           autofocus>
                                    <div class="invalid-feedback">
                                        Please provide a valid bossname.
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button id="timerDeleteButton" class="btn btn-lg btn-danger" type="submit">Delete timer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'switch.html' %}
</div>
<script>
    formValidate()

    document.getElementById('bossname').addEventListener('input', toLower)
    document.getElementById('type').addEventListener('input', toUpper)
    document.getElementById('bossnameDel').addEventListener('input', toLower)
</script>
</body>
</html>