<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"
            integrity="sha384-UG8ao2jwOWB7/oDdObZc6ItJmwUkR/PfMyt9Qs5AwX7PsnYn1CRKCTWyncPTWvaS"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootbox@6.0.0/dist/bootbox.min.js"
            integrity="sha384-oX3gCyE8eJ+9Nl9zEkn/C+bi2nkYOHCuj3ICcIF2DillgVq3oC8VBh6OuhgRaRHZ"
            crossorigin="anonymous"></script>
    <script src="static/js/dashboard.js"></script>
    <script>
        $(window).on('load', function () {
            loadTimersType();
        });
    </script>
    <title>{{ 'Dashboard ' + user['name'] }}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand ps-5" style="color:{{ role_color }}" href="#">{{ user['name'] }}</a>
        <div class="pe-5">
            <form method="GET" action="/logout">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</nav>
<div class="container text-center mt-4">
    <div class="card col-12 mb-2">
        <h5 class="card-header text-center">Timers</h5>
        <div class="card-body">
            <div class="accordion" id="timersCard">
                <div class="spinner-border" role="status" id="timersCardLoading">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-check form-switch ms-auto mt-3 me-3">
    <label class="form-check-label ms-3" for="lightSwitch">
        <input class="form-check-input" type="checkbox" id="lightSwitch"/>
    </label>
    <svg xmlns="http://www.w3.org/2000/svg"
         width="25"
         height="25"
         fill="currentColor"
         class="bi bi-brightness-high"
         viewBox="0 0 16 16">
        <path id="iconColorMode"
              d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"></path>
    </svg>
</div>
<script src="static/js/switch.js"></script>
</body>
</html>