<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'dependencies.html' %}
    <title>Login</title>
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand ps-5" href="/">Login</a>
        <div class="pe-2">
            {% include 'switch.html' %}
        </div>
    </div>
</nav>
<div class="container mt-5 mx-auto">
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST" action="/login" class="row g-3 needs-validation" novalidate>
        <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required autofocus
                   value="{{ cache['username'] if error else '' }}">
            <div class="invalid-feedback">
                Please provide a valid username.
            </div>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" required>
                <button class="btn btn-outline-secondary bi-eye-slash" type="button" id="pwShow"></button>
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="server" class="form-label">Server</label>
            <select class="form-select" id="server" name="server" required>
                <option {{ 'selected' if not error }} disabled value="">Select a server</option>
                {%- for server in servers -%}
                    <option value="{{ server['id'] }}" {{ 'selected' if error and cache['server'] == server['id'] else '' }}>{{ server['name'] }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a valid server.
            </div>
        </div>
        <div class="col-md-6">
            <label for="clan" class="form-label">Clan</label>
            <input type="text" class="form-control" id="clan" name="clan" required
                   value="{{ cache['clan'] if error else '' }}">
            <div class="invalid-feedback">
                Please provide a valid clan.
            </div>
        </div>
        <div class="d-grid gap-2">
            <button id="loginButton" class="btn btn-lg btn-success" type="submit">Login</button>
        </div>

    </form>
</div>
<script>
    formValidate()

    document.getElementById('username').addEventListener('input', toLower)

    let eyes = document.querySelectorAll('#pwShow')
    eyes.forEach((buttonEye) => {
        buttonEye.addEventListener('click', pwEye)
    })

</script>
</body>
</html>