version = 1

[[analyzers]]
name = "python"
enabled = true

[[analyzers]]
name = "javascript"
enabled = true

[[transformers]]
name = "standardjs"
enabled = true

[[transformers]]
name = "autopep8"
enabled = true