**/__pycache__/**
.upm/*
log.txt
tmp.txt
.replit
replit.nix
venv/*
build/*
dist/*
*.egg-info/*
.breakpoints
security/*.png
**/.env
/.idea/dataSources.xml
/.idea/sonarlint/*
setup_env.sh
**/*.log
**/flask_session/
**/*.db
**/sessions.db