aiohttp==3.9.5
async-timeout>=3.0.1
attrs>=21.4.0
bcrypt>=4.0.1
certifi>=2022.6.15
chardet>=4.0.0
charset-normalizer>=2.1.0
click>=8.1.3
cutandpaste>=0.4.0
discord.py>=1.7.3
Flask>=2.1.2
Flask-Session2>=1.3.1
idna>=3.3
itsdangerous>=2.1.2
Jinja2>=3.1.2
logtail-python>=0.1.3
MarkupSafe>=2.1.1
msgpack>=1.0.4
multidict>=6.0.2
Paste>=3.5.1
psycopg2>=2.9.3
python-dotenv>=0.20.0
requests>=2.28.1
six>=1.16.0
tabulate>=0.8.10
typing_extensions>=4.3.0
urllib3>=1.26.10
waitress>=2.1.2
Werkzeug>=2.2.3
yarl>=1.7.2
