<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="300">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="static/js/dashboard.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        window.onload = function(){
            for (boss in BOSSES){
                document.getElementById('b_' + boss).innerHTML = BOSSES[boss]
            }
        }
    </script>
	<title>{{Dashboard}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand ps-5" style="color:{{role_colors[role - 1]}}" href="#">{{main}}</a>
            <div class="pe-5">
                <form method="GET" action="/logout">
			        <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    </nav>
	<div class="container text-center mt-4">
    {%- if role >= 5 -%}   
        <div class="card col-12 mb-2">
            <h5 class="card-header text-center">Users</h5>
            <div class="card-body">
                <div class="accordion" id="accordionUser">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOneUser">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneUser" aria-expanded="false"
                                aria-controls="collapseOneUser">
                                Create user
                            </button>
                        </h2>
                        <div id="collapseOneUser" class="accordion-collapse collapse"
                            aria-labelledby="headingOneUser" data-bs-parent="#accordionUser">
                            <div class="accordion-body row mx-auto">
                                <div class="col-xl-4 mb-2">
                                    <select id="role" class="form-select">
                                        <option value="1">Recruit</option>
                                        <option selected value="2">Clansman</option>
                                        <option value="3">Guardian</option>
                                        {% if role >= 5 %}
                                        <option value="4">General</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-xl-4 mb-2">
                                    <input class="form-control" type="text" id="user_id_create" required placeholder="User ID">
                                </div>
                                <div class="col-xl-4 mb-4">
                                    <input type="text" id="main" class="form-control" required placeholder="Main account name">
                                </div>
                                <button id="button_create_user" type="button"  class="btn btn-lg btn-success" onclick="createUser()">Create</button>
                                <div class="badge badge-secondary text-monospace text-primary text-wrap d-none mt-1" id="apikey_value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwoUser">
                            <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwoUser"
                                aria-expanded="false" aria-controls="collapseTwoUser">
                                Manage users
                            </button>
                        </h2>
                        <div id="collapseTwoUser" class="accordion-collapse collapse"
                            aria-labelledby="headingTwoUser" data-bs-parent="#accordionUser">
                            <div class="accordion-body row mx-auto table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Main</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="users_table">
                                        {%- for user_id, user in users.items() -%}
                                        <tr id="userD{{user_id}}">
                                        <th scope="row">{{user_id}}</th>
                                        <td>{{user['main']}}</td>
                                        <td>
                                            <div class="col-xl-4 mb-2">
                                                <select{% if user['role'] >= 5%} disabled{% endif %} class="form-select" onchange="changeRole('{{user_id}}', this)">
                                                    {%- for count, role in enumerate(roles, start=1) -%}
                                                    <option{% if count == user['role'] %} selected{% endif %} value="{{count}}">{{role}}</option>>
                                                    {% endfor %}
                                                </select>   
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-lg" onclick="deleteUser('{{user_id}}')">Delete</button>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        <div class="card col-12 mb-2">
            <h5 class="card-header text-center">Timers</h5>
            <div class="card-body">
                <div class="accordion" id="accordionTimer">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOneTimer">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneTimer" aria-expanded="false"
                                aria-controls="collapseOneTimer">
                                Frozen
                            </button>
                        </h2>
                        <div id="collapseOneTimer" class="accordion-collapse collapse"
                            aria-labelledby="headingOneTimer" data-bs-parent="#accordionTimer">
                            <div class="accordion-body row mx-auto table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Boss</th>
                                    <th scope="col">Timer</th>
                                    <th scope="col">Reset</th>
                                    <th scope="col">Sub</th>
                                    <th scope="col">Unsub</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for boss, timer in dict(islice(timers.items(), 6)).items() -%}
                                    <tr>
                                    <th scope="row">{{boss}}</th>
                                    <td id="{{boss}}">{%- if timer -%}{{minutes_to_dhm(timer)}}{% else %} nd {% endif %}</td>
                                    <td>
                                        <button type="button" id="b_{{boss}}" class="fw-bold btn btn-outline-warning" onclick="boss_reset('{{boss}}')"></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success" onclick="boss_sub('{{boss}}')">✔</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger" onclick="boss_unsub('{{boss}}')">✘</button>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwoTimer">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwoTimer" aria-expanded="false"
                                aria-controls="collapseTwoTimer">
                                Dragonlord
                            </button>
                        </h2>
                        <div id="collapseTwoTimer" class="accordion-collapse collapse"
                            aria-labelledby="headingTwoTimer" data-bs-parent="#accordionTimer">
                            <div class="accordion-body row mx-auto table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Boss</th>
                                    <th scope="col">Timer</th>
                                    <th scope="col">Reset</th>
                                    <th scope="col">Sub</th>
                                    <th scope="col">Unsub</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for boss, timer in dict(islice(timers.items(), 6, 11)).items() -%}
                                    
                                    <tr>
                                    <th scope="row">{{boss}}</th>
                                    <td id="{{boss}}">{%- if timer -%}{{minutes_to_dhm(timer)}}{% else %} nd {% endif %}</td>
                                    <td>
                                        <button type="button" id="b_{{boss}}" class="fw-bold btn btn-outline-warning" onclick="boss_reset('{{boss}}')"></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success" onclick="boss_sub('{{boss}}')">✔</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger" onclick="boss_unsub('{{boss}}')">✘</button>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThreeTimer">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThreeTimer" aria-expanded="false"
                                aria-controls="collapseThreeTimer">
                                Exalted Dragonlord
                            </button>
                        </h2>
                        <div id="collapseThreeTimer" class="accordion-collapse collapse"
                            aria-labelledby="headingThreeTimer" data-bs-parent="#accordionTimer">
                            <div class="accordion-body row mx-auto table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Boss</th>
                                    <th scope="col">Timer</th>
                                    <th scope="col">Reset</th>
                                    <th scope="col">Sub</th>
                                    <th scope="col">Unsub</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for boss, timer in dict(islice(timers.items(), 11, 18)).items() -%}
                                    <tr>
                                    <th scope="row">{{boss}}</th>
                                    <td id="{{boss}}">{%- if timer -%}{{minutes_to_dhm(timer)}}{% else %} nd {% endif %}</td>
                                    <td>
                                        <button type="button" id="b_{{boss}}" class="fw-bold btn btn-outline-warning" onclick="boss_reset('{{boss}}')"></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success" onclick="boss_sub('{{boss}}')">✔</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger" onclick="boss_unsub('{{boss}}')">✘</button>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>   
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFourTimer">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourTimer" aria-expanded="false"
                                aria-controls="collapseFourTimer">
                                Raid
                            </button>
                        </h2>
                        <div id="collapseFourTimer" class="accordion-collapse collapse"
                            aria-labelledby="headingFourTimer" data-bs-parent="#accordionTimer">
                            <div class="accordion-body row mx-auto table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Boss</th>
                                    <th scope="col">Timer</th>
                                    <th scope="col">Reset</th>
                                    <th scope="col">Sub</th>
                                    <th scope="col">Unsub</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for boss, timer in dict(islice(timers.items(), 18, 26)).items() -%}
                                    
                                    <tr>
                                    <th scope="row">{{boss}}</th>
                                    <td id="{{boss}}">{%- if timer -%}{{minutes_to_dhm(timer)}}{% else %} nd {% endif %}</td>
                                    <td>
                                        <button type="button" id="b_{{boss}}" class="fw-bold btn btn-outline-warning" onclick="boss_reset('{{boss}}')"></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success" onclick="boss_sub('{{boss}}')">✔</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger" onclick="boss_unsub('{{boss}}')">✘</button>
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {%- if role == 5 -%}
    <div class="pb-2 pt-2  text-center">
        <form action="/logs">
            <button type="submit" class="btn btn-success">Logs</button>
        </form>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>